
.limits {
  align-items: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 100px 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  height: 100%;
  width: 100%;

  &-row {
    height: 24px;
    display: flex;
    margin-bottom: 6px;
    width: 100%;
  }

  &-param {
    display: block;
    padding-right: 24px;
    text-align: right;
    width: 50%;
  }

  &-value {
    display: block;
    width: 50%;
  }
}