.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 576px) {
    justify-content: flex-end;
  }
}

.nav {
  display: flex;
}

.toolbar-btn {
  appearance: none;
  opacity: 0.8;
  margin-left: 16px;
  height: 24px;
  width: 24px;
  padding: 0;

  &:not(.btn-sound):hover {
    opacity: 1;
    transition: opacity 0.5;
  }

  &-sound {
    opacity: 0.5;
    &.active {
      background: #593781;
      border-radius: 100%;
      opacity: 1!important;
    }
  }
}

.icon {
  margin-left: 16px;
}
